.app-header {
    padding: 0.5rem;
}

.app-header .logo {
    grid-area: logo;
    align-items: start;
}

.app-header .logo img {
    height: 4rem;
}

.app-header .logo h1 {
    display: inline;
}

.app-header .login form {
    align-self: end;
}

.app-header .login *:not(form) {
    margin-inline: 0.2rem;
}

.app-header .user-hello {
    grid-area: hello;
    grid-template-areas:
        "hello logout"
        "progress progress"
    ;
    align-items: center;
    justify-items: center;
    column-gap: 1.5rem;
    margin-inline: 1rem;
}

.app-header .user-hello span:first-child {
    grid-area: hello;
}

.app-header .progress {
    grid-area: progress;
    width: 6rem;
    height: 2rem;
    position: relative;
    border: 1px solid;
    padding: 1px;
}

.app-header .progress .done {
    background-color: rgb(87, 201, 87);
    height: 100%;
}

.app-header .progress .percents {
    position: absolute;
    /* background-color: red; */
    top: 0;
    right: 50%;
    transform: translateX(50%) translateY(25%);
    /* height: 100%;
    width: 100%; */
    text-shadow: white 0 0 3px;

    z-index: 10;
}

.app-header .user-hello button {
    grid-area: logout;
}