* {
    box-sizing: border-box;
}

body,
h1,
h2,
p {
    margin: 0;
}

button {
    cursor: pointer;
}

.btn-pill {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 3em;
    padding: 0.3rem 0.7rem;
    min-width: 3rem;
}

.btn-pill:hover {
    background-color: blanchedalmond;
}

a{
    text-decoration: none;
    color: inherit;
}